Générateur_Document.json
{
  "name": "generation_doc",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook‐vendeur",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        60,
        120
      ],
      "id": "a4d542e5-f7de-4ce5-a412-12f939fbd7e3",
      "name": "Webhook",
      "webhookId": "02d6b1f9-96d4-410e-b957-8feb80eed80a"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  // on accède ici à la structure JSON (item.json)\n  const { nom, prenom, date_naissance, profession, email } = item.json;\n\n  // Constrtuit pas à pas la phrase en évitant les champs vide\n  let phrase = \"\";\n\n  // Nom et Prénom\n  if (nom || prenom) {\n    // On assemble nom et prénom s'il existent\n    const nomPrenom = [nom, prenom].filter(Boolean).join(\"\");\n    phrase += nomPrenom;\n  }\n\n  // Profession\n  if (profession) {\n    phrase += phrase ? `, est né le ${date_naissance}` : `est né le ${date_naissance}`;\n  }\n\n  // Email\n  if (email) {\n    prahse += phrase ? `, email : ${email}` : `email : ${email}`;\n  }\n\n  // On renvoie un objet avec la phrase construite\n  return {\n    json: {\n      ...item.json,\n      phrase\n    }\n  };\n})"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        120
      ],
      "id": "8debeebd-5916-4749-b9a2-961592925579",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1GcyqNnImu2DJ-P5TlkWG6wcZTiLgKygQ3-F7ouDP1mE",
          "mode": "list",
          "cachedResultName": "MANDAT EXCLUSIF - Variables Template V2.doc",
          "cachedResultUrl": "https://docs.google.com/document/d/1GcyqNnImu2DJ-P5TlkWG6wcZTiLgKygQ3-F7ouDP1mE/edit?usp=drivesdk"
        },
        "name": "=Mandat N° {{ $('Edit Fields').item.json[\"N°\"] }}",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1SpIxm9eckdQZ8BHUYHdSK1z9UtJcAWPr",
          "mode": "list",
          "cachedResultName": "Document Output",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1SpIxm9eckdQZ8BHUYHdSK1z9UtJcAWPr"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        780,
        120
      ],
      "id": "991f0009-c695-4f1e-9dfc-106a3da9fe02",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SESUivqUfJREygHf",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $json.id }}/copy ",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"Mandat N° {{ $('Edit Fields').item.json[\"N°\"] }}\",\n  \"mimeType\": \"application/vnd.google-apps.document\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        120
      ],
      "id": "769ce9ce-f9a5-40fb-8d23-b215602bc778",
      "name": "HTTP Request",
      "credentials": {
        "googleOAuth2Api": {
          "id": "AMFgqGcJALYzSbBu",
          "name": "Google account"
        },
        "googleDriveOAuth2Api": {
          "id": "SESUivqUfJREygHf",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1220,
        120
      ],
      "id": "a0d142fa-47b3-4968-a873-533c972724fe",
      "name": "Récupération Doc",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "JqenMuaE17kZ3YWw",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.documentId }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "{{variable_1}}",
              "replaceText": "={{ $('Code').item.json.mandatExclusifPart1 }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1460,
        120
      ],
      "id": "f81e3355-3a13-4d9e-88e0-10835e3669d0",
      "name": "Google Docs2",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "JqenMuaE17kZ3YWw",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $json.documentId }}/export",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "=mimeType",
              "value": "=application/pdf"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        120
      ],
      "id": "436d9748-681a-4e3d-8810-d7347e9fd67e",
      "name": "HTTP Request1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SESUivqUfJREygHf",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "content": "## Extraction Informations",
        "height": 340,
        "width": 680
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f0cf440c-2eb1-4986-92ee-e04aecef2509",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Création Nouveau Document",
        "height": 340,
        "width": 1140,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        700,
        0
      ],
      "id": "52c1d6bb-21ca-49df-8f25-0a37cd52fdf6",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C073X71GT5L",
          "mode": "list",
          "cachedResultName": "aléatoire"
        },
        "text": "=Nouveau document remplis pour ",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1900,
        120
      ],
      "id": "f395bd3d-b292-480b-ac23-2f32166ac561",
      "name": "Slack",
      "webhookId": "a5c6f894-3d25-43be-bc24-a2a3554661fb",
      "credentials": {
        "slackOAuth2Api": {
          "id": "wo12scHnjgE2GIau",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "49408063-9074-4ce4-ae59-b7c1494339af",
              "name": "nom",
              "value": "={{ $json.body.Nom }}",
              "type": "string"
            },
            {
              "id": "a7cafcdd-5450-49f2-af3a-a12df1f6efea",
              "name": "prenom",
              "value": "={{ $json.body[\"Prénom\"] }}",
              "type": "string"
            },
            {
              "id": "68bfb19b-5c4b-4b02-9e9c-29b877c9adf0",
              "name": "date_naissance",
              "value": "={{ $json.body[\"Date de naissace\"] }}",
              "type": "string"
            },
            {
              "id": "2b4b6afe-38c7-4fbd-8df2-2facc028232a",
              "name": "profession",
              "value": "={{ $json.body.Profession }}",
              "type": "string"
            },
            {
              "id": "25d57356-58da-4ac6-b061-1051e0b45e32",
              "name": "email",
              "value": "={{ $json.body.Email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        280,
        120
      ],
      "id": "4529e21b-03e9-4baa-af26-6e9c5d6ac0d8",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Récupération Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Récupération Doc": {
      "main": [
        [
          {
            "node": "Google Docs2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs2": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f483d54d-7ca7-4652-b817-f63600fa96c0",
  "meta": {
    "instanceId": "af1987ed0d10730a8b41a2bd922cb242750230665289a7857ae759963b7dd4f1"
  },
  "id": "MP0d9bQQ1Iobbry5",
  "tags": []
}